@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*------------------------------------------LOGIN & SIGN UP FORM------------------------------------------------*/
.formCover{
    width:100%;
    height:100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.container{
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3),0 4px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: ease-in-out;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.container::before{
    content: "";
    position: absolute;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #84b3ec, #1c7aec);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.closeBtn,
.closeBtn2{
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 100px;
    background: #84b3ec;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.closeBtn:hover,
.closeBtn2:hover {
    background: #1c7aec;
}

.top-left{
    position: absolute;
    left: 0;
    top:0;
}

.top-right{
    position: absolute;
    right: 0;
    top: 0;
}

.signin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.sign-in-form{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.sign-up-form{
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title {
    font-size: 35px;
    color: #84b3ec;
    margin-bottom: 10px;
}

.input-field{
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #84b3ec;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field:hover{
    border-color: #1c7aec;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #84b3ec;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover{
    background: #1c7aec;
}

.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

.left-panel{
    pointer-events: none;
}

.panel-content{
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3{
    font-size: 24px;
    font-weight: 600;
}

.panel p{
    font-size: 15px;
    padding: 10px;
}

.image{
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .panel-content{
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .panel-content{
    transform: translateX(0);
}

.account-text{
    display: none;
}

.account-text a{
    text-decoration: none;
    font-weight: 600;
    color: #84b3ec;
}

/*Animation*/

.container.sign-up-mode::before{
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .panel-content{
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .panel-content{
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form{
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    opacity: 1;
}

.container.sign-up-mode .right-panel{
    pointer-events: none;
}

.container.sign-up-mode .left-panel{
    pointer-events: all;
}

/*Responsive*/

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {
    .container::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }

    .top-left{
        position: absolute;
        left: 0;
        top:10vh;
    }
    
    .top-right{
        position: absolute;
        right: 0;
        top: 10vh;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}


/*------------------------------------------------Main Content---------------------------------------------------*/
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(-45deg, #84b3ec, #1c7aec);
    background-size: cover;
    background-position: center;
}
  
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(-45deg, #84b3ec, #559ef7);
}
  
header .logo{
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
  
header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
  
header .navigation a:not(:last-child){
    margin-right: 30px;
}
  
header .navigation a:hover{
    background: #c9c9c9;
}

header .navigation .active{
    background: #fff;
}
  
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0 5%;
}

.imageContent{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    pointer-events: none;
    margin: 10% 15%;
    z-index: -1;
}

.content .info {
    position: fixed;
    margin-top: 30%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

.content .info.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
}
  
.content .info h2{
    color: #01377a;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    text-align: center;
}
  
.content .info h2 span{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
  
.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}
  
.content .info-btn{
    color: #fff;
    background: #01377a;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
    border: none;
}
  
.content .info-btn:hover{
    background: #175cb1;
}
  
label{
    display: none;
}
  
#check{
    z-index: 3;
    display: none;
}

  
/* Responsive styles */
  
@media (max-width: 960px){
    header .navigation{
        display: none;
    }

    header{
        padding: 5px 100px;
    }
  
    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
        padding: 35px 0;
    }

    header .logo{
        padding: 20px 0;
    }
  
    label:hover{
        color: #fff;
    }
  
    label .close-btn{
        display: none;
    }
  
    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(65, 120, 192, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
  
    #check:checked ~ header label .menu-btn{
        display: none;
    }
  
    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }
  
    label .menu-btn{
        position: absolute;
    }
  
    header .logo{
        position: absolute;
        bottom: -6px;
    }

    .content .info {
        position: fixed;
        margin-top: 80%;
        margin-left: 7%;
        margin-right: 7%;
    }    
  
    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }
  
    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }
  
    .content .info p{
        font-size: 14px;
    }
  }
  
@media (max-width: 560px){
    header {
        padding: 10px 3rem;
    }

    .content .info {
        position: fixed;
        margin-top: 100%;
        margin-left: 7%;
        margin-right: 7%;
    }  

    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }
  
    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }
  
    .content .info p{
        font-size: 14px;
    }
}

/*------------------------------------- CREATOR INFORMATION STYLE ------------------------------------*/
.card-container {
    min-width: 50vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5vw;
}

.card {
    position: relative;
    width: 340px;
    height: 22vh;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.imgBx {
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card .card-content h2,
.card .card-content span{
    font-size: 1vw;
}

@media (max-width: 960px) {
    .card-container {
        min-width: 50vw;
        height: 90vh;
        display: grid;
        grid-template-columns: 50%;
    }
}

@media (max-width: 860px){
    .card-container {
        height: 40vh;
    }

    .card {
        width: 300px;
        height: 18vh;
    }
}

@media (max-width: 530px){
    .card-container {
        height: 20vh;
    }
}